:host {
  table {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-main);
    padding: 1rem;
    border-spacing: 0px;
    thead {
      position: sticky;
      top: 0;
      background: white;
      th {
        border-bottom: 1px solid var(--border-color);
        padding: 6px;
        font-size: 1.1rem;
      }
    }
    td {
      padding: 8px 2px;
      text-align: center;
    }
  }
  tbody {
    tr {
      &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
